



.headding{
  width:70%;
  color:white;
  font-weight:550;
  font-size:3rem;
  text-align:start;
  margin:auto;
  padding:2rem;
}

.footchild1{
  display:flex;
  width:100%;
  justify-content:space-between ;
  padding:1rem;
  font-weight:700;
}


.flexboxe{
  display:flex;
}



.footparent{
  margin:auto;
   width:70%;border:solid;
   margin-top:3rem;
}

.box1{

  background-color:rgba(240, 240, 240, 1);  
  color:black; 
  width:50%; 
  border-radius:10px;
   margin-right:3rem;
   
}

.box2{
  width:35%; 
   border-radius:10px; padding:4px; 
  color:black;
   background-color:rgba(240, 240, 240, 1);
}


@media screen and (max-width: 992px) {
  .footparent{
    width: 95%;
  }
  .headding{
    width:50%;
    text-align: center;
    font-size: large;
  }
  
}
@media screen and (max-width: 1400px) {
  .flexboxe{
    display: block;

  }
  .footchild1{
    width: inherit;
    
  }
  
  .box1{
    width: inherit;
    margin-right: 0;
    margin-bottom: 3.5rem;
    
  }
  .box2{
    width: 100%;
    padding: 20px;
    
  }
}

@media screen and (max-width: 400px) {

  .footchild1{
    display:block;
   
  }
  .headding{
    font-size: medium;
    text-align: center;
  }
}